[SPECS]
    wave_profile_id                     = train_vicreg_primary
    vicreg_config_filename              = /cuwacunu/src/config/instructions/wikimyei_vicreg.ini
[DSL]
    observation_sources_grammar_filename    = /cuwacunu/src/config/dsl/observation_sources.bnf
    observation_sources_dsl_filename    = /cuwacunu/src/config/instructions/observation_sources.dsl
    observation_channels_grammar_filename   = /cuwacunu/src/config/dsl/observation_channels.bnf
    observation_channels_dsl_filename   = /cuwacunu/src/config/instructions/observation_channels.dsl
    jkimyei_specs_grammar_filename          = /cuwacunu/src/config/dsl/jkimyei_specs.bnf
    jkimyei_specs_dsl_filename          = /cuwacunu/src/config/instructions/jkimyei_specs.dsl
    tsiemene_circuit_grammar_filename       = /cuwacunu/src/config/dsl/tsiemene_circuit.bnf
    tsiemene_wave_grammar_filename      = /cuwacunu/src/config/dsl/tsiemene_wave.bnf
    tsiemene_circuit_dsl_filename       = /cuwacunu/src/config/instructions/tsiemene_circuit.dsl
    tsiemene_wave_dsl_filename          = /cuwacunu/src/config/instructions/tsiemene_wave.dsl
    canonical_path_grammar_filename         = /cuwacunu/src/config/dsl/canonical_path.bnf
