[ENVIRONMENT CONFIGURATION]
ABSOLUTE_BASE_SYMB = CONST
ACTIVE_SYMBOLS = CONSTSINE,SINECONST
[EXCHANGE]
AES_salt = /src/config/aes_salt.enc
Ed25519_pkey = /src/config/test_ed25519key.pem
EXCHANGE_api_filename = /src/config/test_exchange.key
EXCHANGE_COMMISSION_RATE = 0.001 /* 0.001 for 0.1% */
[CAPITAL]
INITIAL_CAPITAL = 1000.0 /* in ABSOLUTE_BASE_SYMB */
BANKRUPTCY_CAPITAL = 500.0 /* in ABSOLUTE_BASE_SYMB */
